services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  EliasHaeussler\Typo3SitemapLocator\:
    resource: '../Classes/*'
    exclude:
      - '../Domain/Model/*'
      - '../Event/*'
      - '../Exception/*'

  cache.sitemap_locator:
    class: 'TYPO3\CMS\Core\Cache\Frontend\PhpFrontend'
    factory: ['@TYPO3\CMS\Core\Cache\CacheManager', 'getCache']
    arguments:
      - !php/const EliasHaeussler\Typo3SitemapLocator\Extension::KEY
