parameters:
	ignoreErrors:
		-
			message: '#^PHPDoc type array\<string, mixed\> of property EliasHaeussler\\Typo3SitemapLocator\\Form\\Element\\XmlSitemapLocationElement\:\:\$defaultFieldInformation is not the same as PHPDoc type array of overridden property TYPO3\\CMS\\Backend\\Form\\AbstractNode\:\:\$defaultFieldInformation\.$#'
			identifier: property.phpDocType
			count: 1
			path: ../../Classes/Form/Element/XmlSitemapLocationElement.php

		-
			message: '#^Call to function is_a\(\) with EliasHaeussler\\Typo3SitemapLocator\\Sitemap\\Provider\\Provider and ''EliasHaeussler\\\\Typo3SitemapLocator\\\\Sitemap\\\\Provider\\\\Provider'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: ../../Classes/Sitemap/SitemapLocator.php

		-
			message: '#^Call to function is_object\(\) with EliasHaeussler\\Typo3SitemapLocator\\Sitemap\\Provider\\Provider will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: ../../Classes/Sitemap/SitemapLocator.php

		-
			message: '#^EliasHaeussler\\Typo3SitemapLocator\\Tests\\Functional\\Fixtures\\Classes\\DummyPackageManager\:\:__construct\(\) does not call parent constructor from TYPO3\\CMS\\Core\\Package\\PackageManager\.$#'
			identifier: constructor.missingParentCall
			count: 1
			path: ../Functional/Fixtures/Classes/DummyPackageManager.php

		-
			message: '#^Parameter \#4 \$providers of class EliasHaeussler\\Typo3SitemapLocator\\Sitemap\\SitemapLocator constructor expects iterable\<EliasHaeussler\\Typo3SitemapLocator\\Sitemap\\Provider\\Provider\>, array\<int, stdClass\> given\.$#'
			identifier: argument.type
			count: 1
			path: ../Functional/Sitemap/SitemapLocatorTest.php

		-
			message: '#^Parameter \#4 \$providers of class EliasHaeussler\\Typo3SitemapLocator\\Sitemap\\SitemapLocator constructor expects iterable\<EliasHaeussler\\Typo3SitemapLocator\\Sitemap\\Provider\\Provider\>, array\<int, string\> given\.$#'
			identifier: argument.type
			count: 1
			path: ../Functional/Sitemap/SitemapLocatorTest.php
