parameters:
	ignoreErrors:
		-
			message: '''
				#^Access to deprecated property \$iconFactory of class EliasHaeussler\\Typo3SitemapLocator\\Form\\Element\\XmlSitemapLocationElement\:
				since TYPO3 v12\.4\. will be removed in TYPO3 v13\.0\.$#
			'''
			identifier: property.deprecated
			count: 1
			path: ../../Classes/Form/Element/XmlSitemapLocationElement.php

		-
			message: '#^Class TYPO3\\CMS\\Core\\Imaging\\IconSize not found\.$#'
			identifier: class.notFound
			count: 1
			path: ../../Classes/Form/Element/XmlSitemapLocationElement.php

		-
			message: '#^Method EliasHaeussler\\Typo3SitemapLocator\\Form\\Element\\XmlSitemapLocationElement\:\:__construct\(\) has parameter \$data with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: ../../Classes/Form/Element/XmlSitemapLocationElement.php

		-
			message: '#^PHPDoc type array\<string, mixed\> of property EliasHaeussler\\Typo3SitemapLocator\\Form\\Element\\XmlSitemapLocationElement\:\:\$defaultFieldInformation is not the same as PHPDoc type array of overridden property TYPO3\\CMS\\Backend\\Form\\AbstractNode\:\:\$defaultFieldInformation\.$#'
			identifier: property.phpDocType
			count: 1
			path: ../../Classes/Form/Element/XmlSitemapLocationElement.php

		-
			message: '#^Call to function is_object\(\) with EliasHaeussler\\Typo3SitemapLocator\\Sitemap\\Provider\\Provider will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: ../../Classes/Sitemap/SitemapLocator.php

		-
			message: '#^Call to method createNewBasicSite\(\) on an unknown class TYPO3\\CMS\\Core\\Configuration\\SiteWriter\.$#'
			identifier: class.notFound
			count: 1
			path: ../Functional/Command/Formatter/JsonFormatterTest.php

		-
			message: '#^Call to method write\(\) on an unknown class TYPO3\\CMS\\Core\\Configuration\\SiteWriter\.$#'
			identifier: class.notFound
			count: 1
			path: ../Functional/Command/Formatter/JsonFormatterTest.php

		-
			message: '#^Class TYPO3\\CMS\\Core\\Configuration\\SiteConfiguration constructor invoked with 1 parameter, 2\-3 required\.$#'
			identifier: arguments.count
			count: 1
			path: ../Functional/Command/Formatter/JsonFormatterTest.php

		-
			message: '#^Class TYPO3\\CMS\\Core\\Configuration\\SiteConfiguration constructor invoked with 7 parameters, 2\-3 required\.$#'
			identifier: arguments.count
			count: 1
			path: ../Functional/Command/Formatter/JsonFormatterTest.php

		-
			message: '#^Class TYPO3\\CMS\\Core\\Site\\Set\\SetRegistry not found\.$#'
			identifier: class.notFound
			count: 1
			path: ../Functional/Command/Formatter/JsonFormatterTest.php

		-
			message: '#^Class TYPO3\\CMS\\Core\\Site\\SiteSettingsFactory not found\.$#'
			identifier: class.notFound
			count: 1
			path: ../Functional/Command/Formatter/JsonFormatterTest.php

		-
			message: '#^Instantiated class TYPO3\\CMS\\Core\\Configuration\\SiteWriter not found\.$#'
			identifier: class.notFound
			count: 1
			path: ../Functional/Command/Formatter/JsonFormatterTest.php

		-
			message: '#^Parameter \#2 \$eventDispatcher of class TYPO3\\CMS\\Core\\Configuration\\SiteConfiguration constructor expects Psr\\EventDispatcher\\EventDispatcherInterface, TYPO3\\CMS\\Core\\Site\\SiteSettingsFactory given\.$#'
			identifier: argument.type
			count: 1
			path: ../Functional/Command/Formatter/JsonFormatterTest.php

		-
			message: '#^Parameter \#3 \$coreCache of class TYPO3\\CMS\\Core\\Configuration\\SiteConfiguration constructor expects TYPO3\\CMS\\Core\\Cache\\Frontend\\PhpFrontend\|null, TYPO3\\CMS\\Core\\Site\\Set\\SetRegistry given\.$#'
			identifier: argument.type
			count: 1
			path: ../Functional/Command/Formatter/JsonFormatterTest.php

		-
			message: '#^Call to method createNewBasicSite\(\) on an unknown class TYPO3\\CMS\\Core\\Configuration\\SiteWriter\.$#'
			identifier: class.notFound
			count: 1
			path: ../Functional/Command/Formatter/TextFormatterTest.php

		-
			message: '#^Call to method write\(\) on an unknown class TYPO3\\CMS\\Core\\Configuration\\SiteWriter\.$#'
			identifier: class.notFound
			count: 1
			path: ../Functional/Command/Formatter/TextFormatterTest.php

		-
			message: '#^Class TYPO3\\CMS\\Core\\Configuration\\SiteConfiguration constructor invoked with 1 parameter, 2\-3 required\.$#'
			identifier: arguments.count
			count: 1
			path: ../Functional/Command/Formatter/TextFormatterTest.php

		-
			message: '#^Class TYPO3\\CMS\\Core\\Configuration\\SiteConfiguration constructor invoked with 7 parameters, 2\-3 required\.$#'
			identifier: arguments.count
			count: 1
			path: ../Functional/Command/Formatter/TextFormatterTest.php

		-
			message: '#^Class TYPO3\\CMS\\Core\\Site\\Set\\SetRegistry not found\.$#'
			identifier: class.notFound
			count: 1
			path: ../Functional/Command/Formatter/TextFormatterTest.php

		-
			message: '#^Class TYPO3\\CMS\\Core\\Site\\SiteSettingsFactory not found\.$#'
			identifier: class.notFound
			count: 1
			path: ../Functional/Command/Formatter/TextFormatterTest.php

		-
			message: '#^Instantiated class TYPO3\\CMS\\Core\\Configuration\\SiteWriter not found\.$#'
			identifier: class.notFound
			count: 1
			path: ../Functional/Command/Formatter/TextFormatterTest.php

		-
			message: '#^Parameter \#2 \$eventDispatcher of class TYPO3\\CMS\\Core\\Configuration\\SiteConfiguration constructor expects Psr\\EventDispatcher\\EventDispatcherInterface, TYPO3\\CMS\\Core\\Site\\SiteSettingsFactory given\.$#'
			identifier: argument.type
			count: 1
			path: ../Functional/Command/Formatter/TextFormatterTest.php

		-
			message: '#^Parameter \#3 \$coreCache of class TYPO3\\CMS\\Core\\Configuration\\SiteConfiguration constructor expects TYPO3\\CMS\\Core\\Cache\\Frontend\\PhpFrontend\|null, TYPO3\\CMS\\Core\\Site\\Set\\SetRegistry given\.$#'
			identifier: argument.type
			count: 1
			path: ../Functional/Command/Formatter/TextFormatterTest.php

		-
			message: '#^Call to method createNewBasicSite\(\) on an unknown class TYPO3\\CMS\\Core\\Configuration\\SiteWriter\.$#'
			identifier: class.notFound
			count: 1
			path: ../Functional/Command/LocateSitemapsCommandTest.php

		-
			message: '#^Call to method write\(\) on an unknown class TYPO3\\CMS\\Core\\Configuration\\SiteWriter\.$#'
			identifier: class.notFound
			count: 1
			path: ../Functional/Command/LocateSitemapsCommandTest.php

		-
			message: '#^Class TYPO3\\CMS\\Core\\Configuration\\SiteConfiguration constructor invoked with 1 parameter, 2\-3 required\.$#'
			identifier: arguments.count
			count: 1
			path: ../Functional/Command/LocateSitemapsCommandTest.php

		-
			message: '#^Class TYPO3\\CMS\\Core\\Configuration\\SiteConfiguration constructor invoked with 7 parameters, 2\-3 required\.$#'
			identifier: arguments.count
			count: 1
			path: ../Functional/Command/LocateSitemapsCommandTest.php

		-
			message: '#^Class TYPO3\\CMS\\Core\\Site\\Set\\SetRegistry not found\.$#'
			identifier: class.notFound
			count: 1
			path: ../Functional/Command/LocateSitemapsCommandTest.php

		-
			message: '#^Class TYPO3\\CMS\\Core\\Site\\SiteSettingsFactory not found\.$#'
			identifier: class.notFound
			count: 1
			path: ../Functional/Command/LocateSitemapsCommandTest.php

		-
			message: '#^Instantiated class TYPO3\\CMS\\Core\\Configuration\\SiteWriter not found\.$#'
			identifier: class.notFound
			count: 1
			path: ../Functional/Command/LocateSitemapsCommandTest.php

		-
			message: '#^Parameter \#2 \$eventDispatcher of class TYPO3\\CMS\\Core\\Configuration\\SiteConfiguration constructor expects Psr\\EventDispatcher\\EventDispatcherInterface, TYPO3\\CMS\\Core\\Site\\SiteSettingsFactory given\.$#'
			identifier: argument.type
			count: 1
			path: ../Functional/Command/LocateSitemapsCommandTest.php

		-
			message: '#^Parameter \#3 \$coreCache of class TYPO3\\CMS\\Core\\Configuration\\SiteConfiguration constructor expects TYPO3\\CMS\\Core\\Cache\\Frontend\\PhpFrontend\|null, TYPO3\\CMS\\Core\\Site\\Set\\SetRegistry given\.$#'
			identifier: argument.type
			count: 1
			path: ../Functional/Command/LocateSitemapsCommandTest.php

		-
			message: '#^EliasHaeussler\\Typo3SitemapLocator\\Tests\\Functional\\Fixtures\\Classes\\DummyPackageManager\:\:__construct\(\) does not call parent constructor from TYPO3\\CMS\\Core\\Package\\PackageManager\.$#'
			identifier: constructor.missingParentCall
			count: 1
			path: ../Functional/Fixtures/Classes/DummyPackageManager.php

		-
			message: '#^Parameter \#4 \$providers of class EliasHaeussler\\Typo3SitemapLocator\\Sitemap\\SitemapLocator constructor expects iterable\<EliasHaeussler\\Typo3SitemapLocator\\Sitemap\\Provider\\Provider\>, array\<int, stdClass\> given\.$#'
			identifier: argument.type
			count: 1
			path: ../Functional/Sitemap/SitemapLocatorTest.php

		-
			message: '#^Parameter \#4 \$providers of class EliasHaeussler\\Typo3SitemapLocator\\Sitemap\\SitemapLocator constructor expects iterable\<EliasHaeussler\\Typo3SitemapLocator\\Sitemap\\Provider\\Provider\>, array\<int, string\> given\.$#'
			identifier: argument.type
			count: 1
			path: ../Functional/Sitemap/SitemapLocatorTest.php

		-
			message: '#^Call to method createNewBasicSite\(\) on an unknown class TYPO3\\CMS\\Core\\Configuration\\SiteWriter\.$#'
			identifier: class.notFound
			count: 1
			path: ../Functional/Utility/HttpUtilityTest.php

		-
			message: '#^Call to method write\(\) on an unknown class TYPO3\\CMS\\Core\\Configuration\\SiteWriter\.$#'
			identifier: class.notFound
			count: 1
			path: ../Functional/Utility/HttpUtilityTest.php

		-
			message: '#^Class TYPO3\\CMS\\Core\\Configuration\\SiteConfiguration constructor invoked with 1 parameter, 2\-3 required\.$#'
			identifier: arguments.count
			count: 1
			path: ../Functional/Utility/HttpUtilityTest.php

		-
			message: '#^Class TYPO3\\CMS\\Core\\Configuration\\SiteConfiguration constructor invoked with 7 parameters, 2\-3 required\.$#'
			identifier: arguments.count
			count: 1
			path: ../Functional/Utility/HttpUtilityTest.php

		-
			message: '#^Class TYPO3\\CMS\\Core\\Site\\Set\\SetRegistry not found\.$#'
			identifier: class.notFound
			count: 1
			path: ../Functional/Utility/HttpUtilityTest.php

		-
			message: '#^Class TYPO3\\CMS\\Core\\Site\\SiteSettingsFactory not found\.$#'
			identifier: class.notFound
			count: 1
			path: ../Functional/Utility/HttpUtilityTest.php

		-
			message: '#^Instantiated class TYPO3\\CMS\\Core\\Configuration\\SiteWriter not found\.$#'
			identifier: class.notFound
			count: 1
			path: ../Functional/Utility/HttpUtilityTest.php

		-
			message: '#^Parameter \#2 \$eventDispatcher of class TYPO3\\CMS\\Core\\Configuration\\SiteConfiguration constructor expects Psr\\EventDispatcher\\EventDispatcherInterface, TYPO3\\CMS\\Core\\Site\\SiteSettingsFactory given\.$#'
			identifier: argument.type
			count: 1
			path: ../Functional/Utility/HttpUtilityTest.php

		-
			message: '#^Parameter \#3 \$coreCache of class TYPO3\\CMS\\Core\\Configuration\\SiteConfiguration constructor expects TYPO3\\CMS\\Core\\Cache\\Frontend\\PhpFrontend\|null, TYPO3\\CMS\\Core\\Site\\Set\\SetRegistry given\.$#'
			identifier: argument.type
			count: 1
			path: ../Functional/Utility/HttpUtilityTest.php

		-
			message: '#^EliasHaeussler\\Typo3SitemapLocator\\Tests\\Unit\\Fixtures\\DummyRequestFactory\:\:__construct\(\) does not call parent constructor from TYPO3\\CMS\\Core\\Http\\RequestFactory\.$#'
			identifier: constructor.missingParentCall
			count: 1
			path: ../Unit/Fixtures/DummyRequestFactory.php

		-
			message: '#^Parameter \#3 \$options \(array\<string, mixed\>\) of method EliasHaeussler\\Typo3SitemapLocator\\Tests\\Unit\\Fixtures\\DummyRequestFactory\:\:request\(\) should be contravariant with parameter \$options \(array\) of method TYPO3\\CMS\\Core\\Http\\RequestFactory\:\:request\(\)$#'
			identifier: method.childParameterType
			count: 1
			path: ../Unit/Fixtures/DummyRequestFactory.php
